<!DOCTYPE html>
<html lang="en">
<head>
<style>
.button {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
16px;
4px 2px;
cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */
</style>
<title>Eidolon's Game</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<body style="background-color:Black;">
<div class="col-sm-4"></div>
<div class="col-sm-4">
<center>
<h1 style=" font-size:31px; color:grey">First name and initials</h1>
<form method="post">
  <p><input type="text" style="text-align:center; width:250px; height:35px" name="name" required>
  <input type="text" maxlength="2" style="text-align:center; width:50px; height:35px; text-transform:uppercase;" name="initials" required></p>
  <p><input type="radio" name="terms" value="accept" required> I agree to the terms and conditions</p>
  <p><input type="submit" class="button button5" value="CONTINUE"></p>
</form>
</center>
</div>
</body>

</html>
